{% extends 'superintendent/branchChange_home.html' %}
{% block title %}Branch Change Status{% endblock title %}

{% load static %}

{% block sub %}
<div class="container">
    <div class="row">
        <strong>Select the Academic Year.
            <br>
            It will result all the details of the branch change students
            <br>
            (make a note that if a student has studied his first year in 
            2021-2022,Entering 2022 will result the branch changes of his batch because in 2022-2023 the branch change process would be done)
            </strong>
        <form action="" method="post" >
            {% csrf_token %}
      </div>
       {{form.as_p}}
      <div class = "row">
       <h4>Branch Changes for the AYear:{{ayear}}</h4>
      </div>
        <div class = "row">
        <table>
            <th>
                <tr>
                    <td style="border: 1px solid black;">RegNo</td>
                    <td style="border: 1px solid black;">RollNo</td>
                    <td style="border: 1px solid black;">CurrentDept</td>
                    <td style="border: 1px solid black;">NewDept</td>
                    <td style="border: 1px solid black;">AYear</td>
            </th>
            {% for sub  in rows %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ sub.RegNo }}
                </td>
                <td style="border: 1px solid black;">
                  {{ sub.RollNo }}
              </td>
              <td style="border: 1px solid black;">
                {{ sub.CurrentDept }}
            </td>
            <td style="border: 1px solid black;">
              {{ sub.NewDept }}
            </td>
            <td style="border: 1px solid black;">
            {{ sub.AYear }}
            </td>
        </tr>
            {% endfor %}
    </div>
    <input type = 'submit' name="Submit" value='Submit' hidden>
    </form>
       </div>
      </div>
{% endblock %}