{% extends 'BTsuperintendent/faculty_home.html' %} 
{% block title %}Faculty Delete{% endblock title %}
{% block sub %}



<div class="container">
    <div class="row">
        <strong> Faculty can be deleted here.</strong>
        <form action="" method="post">
            {% csrf_token %}
            <div class="container">
                <table class="table table-hover table-muted table-striped">
                    <thead>
                        <tr>
                            <td style="border: 1px solid black;">FacultyId </td>
                            <td style="border: 1px solid black;">Name</td>
                            <td style="border: 1px solid black;">Phone</td>
                            <td style="border: 1px solid black;">Email</td>
                            <td style="border: 1px solid black;">Dept</td>
                            <td style="border: 1px solid black;">Working</td>
                            <td style="border: 1px solid black;">Do you want to Delete(Y/N)</td>
                        </tr>
                    </thead>
                    {% for field in form.myFields %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ field.0 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.1 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.2 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.3 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.4 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.5 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.6 }}
                        </td>

                    </tr>
                    {% endfor %}
                </table>
                <input type='submit' value='Submit'>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}