{% extends 'BTsuperindent/faculty_home.html' %} 

{% block title %}Faculty Info Upload{% endblock title %}

{% block sub %}


<div class="container">
    <div class="row">
        <strong> Your data upload for Faculty Info Information has the following errors</strong>
        <form action="" method="post">
            {% csrf_token %}
            <div class="container">
                <table>
                    <th>
                        <tr>
                            <td style="border: 1px solid black;">FacultyId </td>
                            <td style="border: 1px solid black;">Name</td>
                            <td style="border: 1px solid black;">Phone</td>
                            <td style="border: 1px solid black;">Email</td>
                            <td style="border: 1px solid black;">Dept</td>
                            <td style="border: 1px solid black;">Working</td>

                            <td style="border: 1px solid black;">Do you want to update(Y/N)</td>
                        </tr>
                    </th>
                    {% for field in form.myFields %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ field.0 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.1 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.2 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.3 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.4 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.5 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.6 }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <input type='submit' value='Submit'>
            </div>
        </form>
    </div>

    <!-- <p id="CGPA">

    </p> -->

</div>
{% endblock %}