{% extends 'BTsuperindent/preRegistrations_home.html' %}
{% block title %}Update Roll Number{% endblock title %}

{% block sub %}




<div class="container">
  <div class="row">
    <strong>
      **It must be done only before the registrations of the II B.Tech Regular Registrations** <br>
      Upload the RollNo Updation file for the corresponding event in .xlsx format having the following fields <br>
      Note:Make sure that the order of the fields in the file being uploaded is same as mentioned below:
      <br>
      (RegNo,RollNo,Name)

    </strong>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>
  </div>
  {% if msg %}
  <div class="row">
    <strong>{{msg}}</strong>
  </div>
  {% endif %}
  {% if errorStudentInfoRolls %}
  <br>
  <div class="row">
    <strong> The following RegNo for Student Info update are not present in Student Info table.</strong>
    <table>
        <th>
            <tr>
            <td style="border: 1px solid black;">RegNo</td>
            <td style="border: 1px solid black;">RollNo</td>
            <td style="border: 1px solid black;">Name</td>
            </tr>
        </th>
        {% for row in errorStudentInfoRolls %}
        <tr>
            <td style="border: 1px solid black;">{{ row.0 }}</td>
            <td style="border: 1px solid black;">{{ row.1 }}</td>
            <td style="border: 1px solid black;">{{ row.2 }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}