{% extends 'superintendent/userassignment_home.html' %} {% block title %}Faculty User Assignment{% endblock title %}{% block sub %}

<div class="container">
    <div class="row">
        <table>
            <!-- <tr>
                <th>id</th>
                <td>{{subject.id}}</td>
            </tr> -->
            <tr>
                <th>FacultyId</th>
                <td>{{faculty.FacultyId}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{faculty.Name}}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{faculty.Phone}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{faculty.Email}}</td>
            </tr>


            <form action="" method="POST">{% csrf_token %}
                <tr>
                    <th>User</th>
                    <td>
                        <select name="fac_user" id="fac_user">
                            <option value="" selected>Select User</option>
                            {% for userr in Users %}
                            {{assigned_user}}
                            {% if assigned_user.User.id == userr.id %}
                            <option value="{{userr.id}}" selected>{{ userr.username }}</option>
                            {% else %}
                            <option value="{{userr.id}}">{{ userr.username }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>

        </table>
    </div>
    <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}