{% extends 'BTsuperintendent/subjecthome.html' %}
{% block title %}Upload Courses{% endblock title %}
{% block sub %}
<div class="container">
    {% if msg %}
        <div class="row">
            <strong>{{msg}}</strong>
        </div>
    {% endif %}
    <div class="row">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="Submit" value="upload_file_submit">Upload</button>
            <br> 
            <button type="submit" name="download" value="download">Download</button>
          </form>
    </div>
    {% if invalidData %}
    <div class="row">
        <strong>These rows have different regulation and B.Tech. year combination.</strong>
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black">CourseCode</td>
                    <td style="border: 1px solid black">CourseName</td>
                    <td style="border: 1px solid black">BTech Year</td>
                    <td style="border: 1px solid black">BTech Sem</td>
                    <td style="border: 1px solid black">Departments</td>
                    <td style="border: 1px solid black">OfferedBy</td>
                    <td style="border: 1px solid black">Regulation</td>
                    <td style="border: 1px solid black">Creditable</td>
                    <td style="border: 1px solid black">Credits</td>
                    <td style="border: 1px solid black">Type</td>
                    <td style="border: 1px solid black">Category</td>
                    <td style="border: 1px solid black">lectures</td>
                    <td style="border: 1px solid black">tutorials</td>
                    <td style="border: 1px solid black">practicals</td>
                    <td style="border: 1px solid black">Distribution Ratio</td>
                    <td style="border: 1px solid black">Marks Distribution</td>
                </tr>
            </thead>
            <tbody>
                {% for row in invalidData %}
                    <tr>
                        <td style="border: 1px solid black">{{row.0}}</td>
                        <td style="border: 1px solid black">{{row.1}}</td>
                        <td style="border: 1px solid black">{{row.2}}</td>
                        <td style="border: 1px solid black">{{row.3}}</td>
                        <td style="border: 1px solid black">{{row.4}}</td>
                        <td style="border: 1px solid black">{{row.5}}</td>
                        <td style="border: 1px solid black">{{row.6}}</td>
                        <td style="border: 1px solid black">{{row.8}}</td>
                        <td style="border: 1px solid black">{{row.9}}</td>
                        <td style="border: 1px solid black">{{row.10}}</td>
                        <td style="border: 1px solid black">{{row.11}}</td>
                        <td style="border: 1px solid black">{{row.12}}</td>
                        <td style="border: 1px solid black">{{row.13}}</td>
                        <td style="border: 1px solid black">{{row.14}}</td>
                        <td style="border: 1px solid black">{{row.15}}</td>
                        <td style="border: 1px solid black">{{row.16}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if errorRows %}
    <div class="row">
        <strong>These rows have some errors.</strong>
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black">CourseCode</td>
                    <td style="border: 1px solid black">CourseName</td>
                    <td style="border: 1px solid black">BTech Year</td>
                    <td style="border: 1px solid black">BTech Sem</td>
                    <td style="border: 1px solid black">Departments</td>
                    <td style="border: 1px solid black">OfferedBy</td>
                    <td style="border: 1px solid black">Regulation</td>
                    <td style="border: 1px solid black">Creditable</td>
                    <td style="border: 1px solid black">Credits</td>
                    <td style="border: 1px solid black">Type</td>
                    <td style="border: 1px solid black">Category</td>
                    <td style="border: 1px solid black">lectures</td>
                    <td style="border: 1px solid black">tutorials</td>
                    <td style="border: 1px solid black">practicals</td>
                    <td style="border: 1px solid black">Distribution Ratio</td>
                    <td style="border: 1px solid black">Marks Distribution</td>
                </tr>
            </thead>
            <tbody>
                {% for row in errorRows %}
                    <tr>
                        <td style="border: 1px solid black">{{row.0}}</td>
                        <td style="border: 1px solid black">{{row.1}}</td>
                        <td style="border: 1px solid black">{{row.2}}</td>
                        <td style="border: 1px solid black">{{row.3}}</td>
                        <td style="border: 1px solid black">{{row.4}}</td>
                        <td style="border: 1px solid black">{{row.5}}</td>
                        <td style="border: 1px solid black">{{row.6}}</td>
                        <td style="border: 1px solid black">{{row.8}}</td>
                        <td style="border: 1px solid black">{{row.9}}</td>
                        <td style="border: 1px solid black">{{row.10}}</td>
                        <td style="border: 1px solid black">{{row.11}}</td>
                        <td style="border: 1px solid black">{{row.12}}</td>
                        <td style="border: 1px solid black">{{row.13}}</td>
                        <td style="border: 1px solid black">{{row.14}}</td>
                        <td style="border: 1px solid black">{{row.15}}</td>
                        <td style="border: 1px solid black">{{row.16}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}