{% extends 'BTsuperindent/suphome.html' %}
{% block title %}Branch Change Home{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTBranchChange' %}">Branch Change</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTBranchChangeStatus' %}">Branch Change Status</a>
                  </li>
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock content %}