{% extends 'BTsuperintendent/userassignment_home.html' %} 
{% block title %}Cycle Co-ordinator Assignment Status{% endblock title %}

{% block sub %}

<div class="container">
    <div class="row">
        <strong>Status of the First Year Assigned Cycle Co-ordinators's can be seen here.</strong>
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">Id</td>
                    <td style="border: 1px solid black;">Cycle</td>
                    <td style="border: 1px solid black;">Faculty Name</td>
                    <td style="border: 1px solid black;">Assign Date</td>
                    <td style="border: 1px solid black;">Revoke Date</td>
                    <td style="border: 1px solid black;">user</td>
                </tr>
            </thead>
            <tbody>
                {% for h in cord %}
                <tr>
                    <td style="border: 1px solid black;">{{h.id}}</td>
                    <td style="border: 1px solid black;">{{h.Cycle}}</td>
                    <td style="border: 1px solid black;">{{h.Faculty.Name}}</td>
                    <td style="border: 1px solid black;">{{h.AssignDate}}</td>
                    <td style="border: 1px solid black;">{{h.RevokeDate}}</td>
                    <td style="border: 1px solid black;">{{h.User.username}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}