{% extends 'BTsuperintendent/suphome.html' %} 
{% block title %}Faculty Home{% endblock title %}

{% block content %} {% load user_check_tag %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                {% if user|has_group:'Superintendent' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FacultyInfoStatus' %}">Faculty Info Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTFacultyAssignmentStatus' %}">Faculty Assignment Status</a>
                </li>
                {% elif user|has_group:'Co-ordinator' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FacultyInfoStatus' %}">Faculty Info Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTFacultySubjectAssignment' %}">Faculty Subject Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTFacultyAssignmentStatus' %}">Faculty Assignment Status</a>
                </li>
                {% elif user|has_group:'ExamStaff' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FacultyInfoUpload' %}">Faculty Info Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FacultyInfoStatus' %}">Faculty Info Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FacultyInfoDeletion' %}">Faculty Info Deletion</a>
                </li>
                {% elif user|has_group:'HOD' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FacultyInfoStatus' %}">Faculty Info Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTFacultySubjectAssignment' %}">Faculty Subject Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTFacultyAssignmentStatus' %}">Faculty Assignment Status</a>
                </li>
                {% elif user|has_group:'Cycle-Co-ordinator' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTFacultyAssignmentStatus' %}">Faculty Assignment Status</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'CoursesAssigned' %}">Courses Assigned</a>
                </li>

                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %} {% endblock %}
        </div>
    </div>
</div>

{% endblock content %}