{% extends 'BTsuperintendent/suphome.html' %}
{% block title %}Pre-Registrations Home{% endblock title %}


{% block content %}
{% load user_check_tag %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                {% if user|has_group:"Superintendent" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTAddRegulation' %}">Add Regulation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTCreateRegistrationEvent' %}">Create Registration Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTUpdateManageRegistrations' %}">Update Registration Event</a>
                </li>
                {% elif user|has_group:"ExamStaff" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTStudentInfoFileUpload' %}">Upload Student Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTUpdateRollNumber' %}">Update Roll Number</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTMandatoryCredits' %}">Mandatory Credits</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %} {% endblock %}
        </div>
    </div>
</div>
{% endblock content %}