{% extends 'BTsuperintendent/suphome.html' %} {% block title %}RollLists Home{% endblock title %} {% load user_check_tag %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                {% if user|BThas_group:'Superintendent' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListStatus' %}">RollList Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTNotRegisteredStatus' %}">NotRegistered Status</a>
                </li>
                {% elif user|BThas_group:'Associate-Dean' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListStatus' %}">RollList Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTNotRegisteredStatus' %}">NotRegistered Status</a>
                </li>
                {% elif user|BThas_group:'HOD' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListStatus' %}">RollList Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTNotRegisteredStatus' %}">NotRegistered Status</a>
                </li>
                {% elif user|BThas_group:'Co-ordinator' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTGenerateRollList' %}">Generate Roll List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListSectionUpload' %}">RollList Section Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListFeeUpload' %}">RollList Fee Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListStatus' %}">RollList Status</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'BTFinalizeRollLists' %}" class="nav-link">Finalize RollList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTNotRegisteredStatus' %}">NotRegistered Status</a>
                </li>
                {% elif user|BThas_group:'Cycle-Co-ordinator' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTGenerateRollList' %}">Generate Roll List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListSectionUpload' %}">RollList Section Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListFeeUpload' %}">RollList Fee Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTRollListStatus' %}">RollList Status</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'BTFinalizeRollLists' %}" class="nav-link">Finalize RollList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BTNotRegisteredStatus' %}">NotRegistered Status</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %} {% endblock %}
        </div>
    </div>
</div>
{% endblock content %}