{% extends 'superintendent/basepublic.html' %}

{% block title %}Exam Section{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'gradeSheetPrinting/css/index.css' %}">
{% endblock style_links %}


{% block content %}  
<div class="container main-container">
  <div class="row">
    <div class="col d-none d-md-flex align-items-center">
      <img src="{% static 'gradeSheetPrinting/images/nit-logo.png' %}" alt="Institute_Arch" class="img-thumbnail" style="width:inherit;">
    </div>
    <div class="col p-md-5">
      <h4 style="color: black; font-weight:800; margin-bottom: 1.3em;" class="text-center">NATIONAL INSTITUTE OF TECHNOLOGY, ANDHRA PRADESH<br> - Exam Section</h4>
      <div class="row">
        <div class="col-6 text-center text-md-right">
            <a href="{% url 'login' %}" class="btn btn-success pull-right" role="button" style="margin-top: 14px;">Log in</a>
        </div>
        
      </div>
      
    </div>

  </div>
</div>
{% endblock content %}
  