{% extends "template.html" %}
{% load crispy_forms_tags %}

{% block body %}

<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcome-heading">
                                <form role="search" class=""><input type="text" placeholder="Search..." class="form-control"><a href=""><i class="fa fa-search"></i></a></form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span></li>
                                <li><span class="bread-blod">Faculty Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->

<div class="admin-dashone-data-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                             {% if messages %}
            <ul class="messages centered grid-50">
                {% for message in messages %}
                                 {% if message.tags %}
                    <div class="alert {{ message.tags }}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                     {% endif %}{{ message }}
                                </div>
                {% endfor %}
            </ul>
        {% endif %}
                            <form method="post">
  {% csrf_token %}
  {{ form.old_password | as_crispy_field}}
                            {{ form.new_password1 | as_crispy_field}}{{ form.new_password2 | as_crispy_field}}
  <button class="btn  btn-primary pull-right login-submit-cs" type="submit">Change Password</button><br/><br/>
</form></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}