{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-5 center-block" style="margin: 12px auto;">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.new_password1 |as_crispy_field }}
      {{ form.new_password2 |as_crispy_field }}
      <button type="submit" class="btn btn-success pull-right">Change password</button>
    </form>
  {% else %}
    <p style="font-family: 'Monotype Corsiva'; font-size: 18px; color: red;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
    </div>
{% endblock %}