{% extends 'superintendent/grades_home.html' %}
{% block title %}Grades Finalize{% endblock title %}

{% load static %}

{% block sub %}




<div class="container">
  <div class="row">
    <strong>NOTE:
      **Finalize the grades only after uploading all the grades corresponding to that particular event and also make
      sure that the grade challenge procedure is done for the selected event**
      <br>
      **Grades once finalized cannot be modified for that particular event**
    </strong>
  </div>
  <div class="row">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" value="submit" onclick="return confirm('Are you sure you want to finalize the grades?')">Finalize</button>
    </form>
  </div>
  {% if msg %}
  <br>
  <div class="row">
    <strong>{{msg}}</strong>
  </div>
  {% endif %}
</div>
{% endblock %}