{% extends 'SupExamDB/printinghome.html' %}

{% load static %}

{% block sub %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
     let name = ""; 
     $(document).ready(function(){
        var $admissionYearVar = $("#AYear");
        var $departments = $("#departments");
        var $rollnos = $('#rollnos');
        var $rollNoEvents = $('#events');
        console.log('hello world');

        const departmentBox = document.getElementById("departments");
        $admissionYearVar.on("change", function(){
            //console.log("BTech Data" + progElement.options[progElement.selectedIndex].value);
          var myRequest = new XMLHttpRequest();
          myRequest.open('GET', "../Transcripts/BTechGetProgrammeData");
          myRequest.onload = function() {
              var myData = JSON.parse(myRequest.responseText);
              $departments.find('option').remove();
              $departments.append('<option disabled selected="true">-- select Department -- </option>');
              $.each(myData.data, function(key, value){
                      $departments.append('<option value=' + value.Dept + '> ' + value.Specialization + '</option>');
                  }
              );
          }
          myRequest.onerror = function(){
              console.log(myRequest.status);
              console.log("Some thing is going wrong");
          }
          myRequest.send();
        });
        $departments.on("change", function(){
          var admissionYearBox = document.getElementById('AYear');
          var departmentBox = document.getElementById('departments');
          var myRequest = new XMLHttpRequest();
          myRequest.open('GET', "../Transcripts/GetBTechIDs/"+admissionYearBox.options[admissionYearBox.selectedIndex].value+'/'+
                departmentBox.options[departmentBox.selectedIndex].value);
          myRequest.onload = function() {
              var myData = JSON.parse(myRequest.responseText);
              $rollnos.find('option').remove();
              
              console.log("Flag:" + myData.flag);
              if(myData.flag){
                $rollnos.append('<option disabled selected="true">-- select RollNo -- </option>');
                $.each(myData.data, function(key, value){
                      $rollnos.append('<option value=' + value.RegNo + '> ' + value.RollNo + '</option>');
                  });
              }else{
                $rollnos.append('<option disabled selected="true">-- select RegNo -- </option>');
                $.each(myData.data, function(key, value){
                      $rollnos.append('<option value=' + value.RegNo + '> ' + value.RegNo + '</option>');
                  });
              }
              
          }
          myRequest.onerror = function(){
              console.log(myRequest.status);
              console.log("Something is going wrong");
          }
          myRequest.send();      
        });
        var rollNoBox = document.getElementById('rollnos');
        $rollnos.on("change", function(){
          var rollNoRequest = new XMLHttpRequest();
            rollNoRequest.open('GET', "../Transcripts/BTechGetStudentEvents/"+rollNoBox.options[rollNoBox.selectedIndex].value, true);
            rollNoRequest.onload = function(){
                var myData = JSON.parse(rollNoRequest.responseText);
                //console.log(eventRequest.responseText);
                $rollNoEvents.find('option').remove();
                $rollNoEvents.append('<option disabled selected="true">-- select Event -- </option>');
                $.each(myData.data, function(key, value){
                    $rollNoEvents.append('<option value=' + value.Dept + '>' + value.AYASBYBS + '</option>');
                    name = value.Name; 
                });
            };
            rollNoRequest.onerror= function(){
               console.log(rollNoRequest.status);
               console.log('Some thing went wrong in fetching events corresponding to reg no');
            }
            rollNoRequest.send();
          
        });
        const table = document.getElementById("grades");
        var eventBox= document.getElementById('events');
        $rollNoEvents.on("change", function(){
          const regNosBox = document.getElementById("rollnos");
          const progElement = document.getElementById("departments");
          const eventBox = document.getElementById("events");
          
          var yearSemStr = eventBox.options[eventBox.selectedIndex].text;
          
          console.log("Name :" + regNosBox.options[regNosBox.selectedIndex].value);
          var studName = name;
          var studBranch = progElement.options[eventBox.options[eventBox.selectedIndex].value].text;
          var studRegNo =  regNosBox.options[regNosBox.selectedIndex].value;


          var years = {1:"I",2:"II",3:"III",4:"IV"};
          
          var studInfoTable = document.getElementById("stud-details-body");
          var numRows = studInfoTable.rows.length;
          for(var ri = 0;ri<numRows;ri++){
              studInfoTable.deleteRow(0);
          }
          // Obtain HeldIn, Year Sem details from HeldIn table
          var heldInRequest = new XMLHttpRequest();
          heldInRequest.open('GET','../Transcripts/HeldIn/'+yearSemStr,true);
          var years = {1:"I", 2:"II",3:"III", 4:"IV"};
          var sems = {1: "I", 2:"II"};
          heldInRequest.onload = function(){
            var headerRows = [[ "Branch:",studBranch,"Year/Sem:", yearSemStr], 
                            ["RollNo:", regNosBox.options[regNosBox.selectedIndex].text,"Exams held in:",""],
                            ["Name:",studName,"",""]];  
                  
            var sInfoCellStyles = ["text-align: left; ", "text-align: left; ", "text-align: right; ", "text-align: left; "];
            if(progElement.options[eventBox.options[eventBox.selectedIndex].value].value>=9){
              headerRows[1][0] = "RegNo:"
            }
            var myData = JSON.parse(heldInRequest.responseText);
            var myRow = myData.data[0]; 
            headerRows[0][3] = years[myRow.BYear]+" Yr / "+ sems[myRow.BSem] + " Sem";
            headerRows[1][3] =  myRow.HeldInMonth + " " + myRow.HeldInYear; 
            for(var ri =0;ri<3;ri++){
              let row2 = studInfoTable.insertRow(ri);
              row2.style = "line-height: 1.5; vertical-align: top;"; 
              for(var ci=0;ci<4;ci++){
              var cell = row2.insertCell(ci);
              cell.innerHTML = "<b>" + headerRows[ri][ci]+"</b>";
              cell.style = sInfoCellStyles[ci];
              }
            }
          }
          heldInRequest.onerror = function(){
            console.log(heldInRequest.status);
            console.log("Some error in obtaining held in information");
          }
          heldInRequest.send();
          
          var cgpaTable = document.getElementById("CGPA-body");
          console.log("Length" + cgpaTable.rows.length);
          numRows = cgpaTable.rows.length;
          console.log("Text" + cgpaTable.outerHTML);
          for(var ri = 0;ri< numRows;ri++){
                cgpaTable.deleteRow(0);
          }
          var rollNoRequest = new XMLHttpRequest();
          var cgpaRequest = new XMLHttpRequest();
          
          if(progElement.options[progElement.selectedIndex].value<9){
            rollNoRequest.open('GET', "../Transcripts/StudentRollNoGrades/"+regNosBox.options[regNosBox.selectedIndex].text+"/"+ yearSemStr, true);
          }else{
            rollNoRequest.open('GET', "../Transcripts/StudentRegNoGrades/"+regNosBox.options[regNosBox.selectedIndex].text+"/"+ yearSemStr, true);
          }
          cgpaRequest.open("GET","../Transcripts/StudentCGPA/regno/"+studRegNo +'/'+yearSemStr,true);

          rollNoRequest.onload = function(){
            var myData = JSON.parse(rollNoRequest.responseText);
            var numRows = table.rows.length;
            for(var rIndex=0;rIndex<numRows;rIndex++){
              table.deleteRow(0);
            }
            var row = table.insertRow(0);
            row.style = "line-height: 2.0;";
            var header=['Sub Code','Subject Name', 'Credits', 'Grade'];
            var cellStyles = ["border-left: 1px solid black; text-align: center; border-right: 1px solid black;", "text-align: left; border-right: 1px solid black;", "text-align: center; border-right: 1px solid black;", "text-align: center; border-right: 1px solid black;"  ];
            
            for(var col=0;col<4;col++){
                var cell = row.insertCell(col);
                cell.innerHTML ="<b> " + header[col] + "</b>";
                cell.style = "border: 1px solid black;text-align: center; "
            }
            var rowIndex = 1;
            var row1;
            $.each(myData.data, function(key, value){
                row1 = table.insertRow(rowIndex);
                row1.style = "line-height: 1.5;"
                var contents = [ value.SubCode, value.SubName, value.Credits, value.Grade];
                for(var cIndex=0;cIndex<4;cIndex++){
                  var cell = row1.insertCell(cIndex);
                  cell.innerHTML = contents[cIndex];
                  cell.style = cellStyles[cIndex];
                }
                rowIndex+=1;
            });
            row1 = table.rows[table.rows.length-1];
            for(var cIndex = 0; cIndex<4; cIndex++){
              var cell = row1.cells[cIndex];
              cell.style = cellStyles[cIndex] + "border-bottom: 1px solid black;";
            }
          }
          rollNoRequest.onerror = function(){
            console.log(regNoRequest.status);
            console.log("something went wrong in grades data");
          }
          rollNoRequest.send();
          cgpaRequest.onload = function(){
            var cgpaContent = document.getElementById("CGPA-body");
            console.log(cgpaRequest.responseText);
            var myData = JSON.parse(cgpaRequest.responseText);
            console.log(myData.status[0].IsRegular);
            var status = myData.status[0].IsRegular;
            if(status==1){
              var GPACells = [["<b>Semester Grade Point Average(SGPA):"+ myData.data[0].SGPA + " </b> ","","",""],
                              ["<b>Cumulative Grade Point Average(CGPA):"+ myData.data[0].CGPA + " </b>","","",""]];
              for(var ri=0;ri<2;ri++){
                var row3 = cgpaContent.insertRow(ri);
                row3.style = "line-height: 1.5;";
                for(var ci=0;ci<4;ci++){
                  var cell = row3.insertCell(ci);                
                  cell.innerHTML = GPACells[ri][ci];
                  cell.style = "text-align: left;";
                }
              }
            }
          }
          cgpaRequest.onerror = function(){
            console.log(cgpaRequest.status);
            console.log("something went wrong in obtaining CGPA Information");
          }
          cgpaRequest.send();


        });

     });  
      function printFunc(){
        var prtContent = document.getElementById("grade-sheet");
        
        var WinPrint = window.open('', '', 'left=0,top=0,width=21cm,height=29.7cm,toolbar=0,scrollbars=0,status=0 ');
        //var htmlStr = "<html> " + prtContent. + "</html>";
        console.log(prtContent.outerHTML);
        WinPrint.document.style = "width: 21cm; height:29.7cm; margin: 30mm 45mm 30mm 45mm;";
        for(var ind =0;ind<8;ind++){
          WinPrint.document.write("<br>")
        }
        WinPrint.document.write("<center><b>B.Tech.</b></center>");
        WinPrint.document.write("<br>");
        WinPrint.document.write("<br>");
        WinPrint.document.write(  "<center> " + prtContent.outerHTML + "</center>" );
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
      }      
      
 </script>




<div class="container">
    <div class="row">
            <div class="col-sm-1">
              <b>Admission Year</b> <br>
              <select id="AYear">
                  <option disabled selected="true">-- select Year --</option>
                  {% for year in admissionYears %} 
                    <option value={{year}} >{{year}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-2">
              <b>Department</b> <br>
              <select id="departments">
                  <option disabled selected="true">-- select Department --</option>
              </select>                          
            </div>
            <div class="col-sm-1">
              
          </div>
            <div class="col-sm-1">
              <b>RegNo/RollNo</b> <br>
              <select id="rollnos">
                  <option disabled selected="true">-- select RollNo --</option>
              </select>
                
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
              <b>Event</b> <br>
             <select id="events">
                  <option disabled selected="true">-- select Event --</option>
              </select>
            </div>

            <div class="col-sm-1">
              <button onclick="printFunc()">Print</button>
            </div>
        </div>
    <div class=container id="grade-sheet">
      <table class="table" id="stud-details" width="90%"" cellpadding=5 style="border-collapse: collapse; " >
          <th scope="col" class="col-sm-2"></th>
          <th scope="col" class="col-sm-6" ></th>
          <th scope="col" class="col-sm-2"></th>
          <th scope="col" class="col-sm-2"></th>
        <tbody id="stud-details-body">
        </tbody>  
      </table>
      <br>
      <table class="table"  id="grades" width="80%"" cellpadding=5 style="border-collapse: collapse; border: 1 px solid black;" width=>
      <thead>
        <tr>
          <th scope="col" class="col-sm-2"><b>Sub Code</b></th>
          <th scope="col" class="col-sm-6"><b>Subject Name</b></th>
          <th scope="col" class="col-sm-2"><b>Credits</b></th>
          <th scope="col" class="col-sm-2"><b>Grade</b></th>
        </tr>
      </thead>
      <tbody id="grades-table-body">
      </tbody>
    </table>
    
    <br>
    <table class="table" id="CGPA" width="90%"" cellpadding=5 style="border-collapse: collapse;" >
      <thead>
        <tr>
          <th scope="col" class="col-sm-12" ></th>
          <th scope="col" class="col-sm-2"></th>
          <th scope="col" class="col-sm-2"></th>
          <th scope="col" class="col-sm-2"></th>
        </tr>
      </thead>
      <tbody id="CGPA-body">

      </tbody>
    </table>
    <!-- <p id="CGPA">

    </p> -->
</div>
  
{% endblock %}