{% extends 'SupExamDBRegistrations/registrationhome.html' %}

{% load static %}

{% block sub %}
 



<div class="container">
    <div class="row">
      <strong>
        NOTE:
**Finalize the registrations only after registering all the students corresponding to that particular event**
<br>
Registration status option would be helpful for verifying the uploaded list
<br>
**Registrations once finalized cannot be modified for that particular event**
 
      </strong>
        <form action="" method="post" >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" value="submit">Finalize</button> 
        </form>
    </div>
</div>
{% endblock %}
