{% extends 'superintendent/subjecthome.html' %} {% load static %} 

{% block title %}Delete Subjects{% endblock title %}

{% block sub %}

<div class="container">
    <strong>If any of the uploaded subjects have to be deleted,select the corresponding event and fill in the checkboxes provided and click on the delete button</strong>
    <form action="" method="post">
        <div class="row">
            <div class="col-sm-3">
                {% csrf_token %} {{ form.eventBox }}
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <button type="submit" value="submit">Delete</button>
            </div>
        </div>
        <div class="row">
            <table>
                <th>
                    <tr>
                        <td style="border: 1px solid black;">SubCode </td>
                        <td style="border: 1px solid black;">SubName</td>
                        <td style="border: 1px solid black;">Creditable</td>
                        <td style="border: 1px solid black;">Credits</td>
                        <td style="border: 1px solid black;">Type</td>
                        <td style="border: 1px solid black;">Category</td>
                        <td style="border: 1px solid black;">OfferedBy</td>
                        <td style="border: 1px solid black;">Regulation</td>
                        <td style="border: 1px solid black;">DistributionRatio</td>
                        <td style="border: 1px solid black;">MarkDistribution</td>
                        <td style="border: 1px solid black;">Delete Y/N</td>
                    </tr>
                </th>
                {% for sub in form.myFields %}
                <tr>
                    <td style="border: 1px solid black;">
                        {{ sub.0 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.1 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.2 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.3 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.4}}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.5 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.6 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.7 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.8 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.9 }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ sub.10 }}
                    </td>
                </tr>
                {% endfor %}
        </div>
    </form>
    {% if msg %}
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}