{% extends 'SupExamDBRegistrations/subjecthome.html' %}

{% block sub %}
 



<div class="container">
    <div class="row">
      <strong>
        **DEC(Department Elective Courses) must be uploaded here only**  
        <br>
        Upload the subjects information file for the corresponding event  in .xlsx format  having the following fields 
        <br>
        Note:Make sure that the order of the fields in the file being uploaded is same as mentioned below:
        <br>
        (SubCode,SubName,Credits,BYear,BSem,Dept,OfferedYear,Type,Category,Regulation,Creditable)
        <br>
        </strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" name="upload_file_submit" value="upload_file_submit">Upload</button> 
        
    </div>
    {% if validRows %}
    <br>
    <div class="row">
      <table>
        <thead>
          <tr>
            {% for header in validRows.headers %}
            <td style="border: 1px solid black;">{{header}}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in validRows %}
          <tr>
            <td style="border: 1px solid black">{{row.0}}</td>
            <td style="border: 1px solid black">{{row.1}}</td>
            <td style="border: 1px solid black">{{row.2}}</td>
            <td style="border: 1px solid black">{{row.3}}</td>
            <td style="border: 1px solid black">{{row.4}}</td>
            <td style="border: 1px solid black">{{row.5}}</td>
            <td style="border: 1px solid black">{{row.6}}</td>
            <td style="border: 1px solid black">{{row.7}}</td>
            <td style="border: 1px solid black">{{row.8}}</td>
            <td style="border: 1px solid black">
              <select name="mark_distribution_{{row.0}}" id="mark_distribution_{{row.0}}" required>
                <option value="">------------</option>
                {% for dis in marks_distribution %}
                <option value="{{dis.id}}">{{dis.Distribution}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    <button type="submit" name="mark_dis_submit" value="mark_dis_submit">Submit</button>
    {% endif %}
  </form>
  {% if errorRows %}
  <div class="row">
    <strong>These subjects are not in respect to the selected event.</strong>
    <table>
      <thead>
        <tr>
          <td style="border: 1px solid black">SubCode</td>
          <td style="border: 1px solid black">SubName</td>
          <td style="border: 1px solid black">BYear</td>
          <td style="border: 1px solid black">BSem</td>
          <td style="border: 1px solid black">Dept</td>
          <td style="border: 1px solid black">OfferedYear</td>
          <td style="border: 1px solid black">Regulation</td>
        </tr>
      </thead>
      <tbody>
        {% for row in errorRows %}
        <tr>
          <td style="border: 1px solid black">{{row.0}}</td>
          <td style="border: 1px solid black">{{row.1}}</td>
          <td style="border: 1px solid black">{{row.2}}</td>
          <td style="border: 1px solid black">{{row.3}}</td>
          <td style="border: 1px solid black">{{row.4}}</td>
          <td style="border: 1px solid black">{{row.5}}</td>
          <td style="border: 1px solid black">{{row.6}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  </div>
{% endblock %}
