{% extends 'superintendent/faculty_home.html' %}

{% block sub %}
 
<div class="container">
    <div class="row">
       <strong>Faculty for the offered courses should be assigned here.</strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button> 
        </form>
       </div>

    <div class="row">
      <table >
        <thead>
          <tr>
            <td style="border: 1px solid black;">id</td>
            <td style="border: 1px solid black;">SubCode</td>
            <td style="border: 1px solid black;">SubName</td>
            <td style="border: 1px solid black;">Creditable</td>
            <td style="border: 1px solid black;">Credits</td>
            <td style="border: 1px solid black;">Type</td>
            <td style="border: 1px solid black;">Category</td>
            <td style="border: 1px solid black;">OfferedTo</td>
            <td style="border: 1px solid black;"></td>
          </tr>
        </thead>
        {% for sub in subjects %}
        <tr data-row-href="{% url 'FacultySubjectAssignmentDetail' sub.id %}">
          <td style="border: 1px solid black;">{{sub.id}}</td>
          <td style="border: 1px solid black;">{{sub.SubCode}}</td>
          <td style="border: 1px solid black;">{{sub.SubName}}</td>
          <td style="border: 1px solid black;">{{sub.Creditable}}</td>
          <td style="border: 1px solid black;">{{sub.Credits}}</td>
          <td style="border: 1px solid black;">{{sub.Type}}</td>
          <td style="border: 1px solid black;">{{sub.Category}}</td>
          <td style="border: 1px solid black;">{{sub.RegEventId.Dept}}</td>
          <td style="border: 1px solid black;">
              <a href="{% url 'FacultySubjectAssignmentDetail' sub.id %}">Assign</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}