{% extends 'SupExamDBRegistrations/faculty_home.html' %} {% block sub %}

<div class="container">
    <div class="row">
        <strong>Select the registration event to get the details of assigned faculty , course co-ordinator of all the subjects .</strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
        <table>
            <th>
                <tr>
                    <td style="border: 1px solid black;">SubCode </td>
                    <td style="border: 1px solid black;">SubName </td>
                    <td style="border: 1px solid black;">Course Co-Ordinator Info</td>
                    <td style="border: 1px solid black;">Section  </td>
                    <td style="border: 1px solid black;">Faculty Info</td>
                </tr>
            </th>
            {% for field in faculty %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ field.subject.SubCode }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.subject.SubName }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.co_ordinator.Name }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.Section }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.faculty.Name }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>
{% endblock %}