{% extends 'superintendent/registrationhome.html' %}

{% load static %}

{% block sub %}

<div class="container">
    <div class="row">
        <strong>Register the students for the particular event and for the selected course by uploading the .xlsx file format
            <br>
                        Note:Make sure that the order of the fields in the file being uploaded is same as mentioned below:
                        <br>
                        (RegNo)
                        </strong>
        {% if msg %}
        <p>**Please select all fields**</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button> 
        </form>
    </div>
</div>


{% endblock %}