{% extends 'MTsuperintendent/grades_home.html' %}{% block title %}Upload Attendance Shortage Students{% endblock title %} {% block sub %}


<div class="container">
    <div class="row">
        <strong>List of all the attendence shortage students should be uploaded for the selected subject.
            <br>Note:File being uploaded must have only the following fields.
            <br>(RegNo)
            <br>Sample file is available for download(check below). 
        </strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Upload</button>
            <br><br>
            <hr>
            <label for="download-sample">Download template sheet:</label>
            <a href="{% url 'MTDownloadSampleAttendanceShortageSheet' %}" name="download-sample" class="btn btn-primary">Download</a>
        </form>
    </div>
    {% if msg %}
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %} {% if error %}
    <div class="row">
        <strong>These Reg No are invalid.</strong>
        <br>
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black;">RegNo</td>
                </tr>
            </thead>
            <tbody>
                {% for row in error %}
                <tr>
                    <td style="border: 1px solid black;">{{row}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}