{% extends 'MTsuperintendent/grades_home.html' %} {% block title %}Attendance Shortage Status{% endblock title %}{% block sub %}


<div class="container">
    <div class="row">
        <strong>Choose the subject corresponding to required registration event to view the list of attendance shortage students.</strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" name="submit-form" value="submit">Submit</button>

    </div>
    {% if att_short %}
    <strong> List of Attendance Shortade Students</strong>
    <div class="row">
        <br>
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black;">RegNo </td>
                    <td style="border: 1px solid black;">Delete</td>
                </tr>
            </thead>
            {% for field in att_short %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ field.Registration.RegNo }}
                </td>
                <td style="border: 1px solid black;">
                    <button type="submit" name="delete" value="{{field.id}}" onclick="return confirm('Are you sure you want to delete attendance shortage record of {{field.Registration.RegNo}}?')">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    </form>
    {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>
{% endblock %} {% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.table').DataTable({
            "lengthMenu": [
                [10, 25, 50, 100, 250, -1],
                [10, 25, 50, 100, 250, "All"]
            ],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function() {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function() {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}