{% extends 'superintendent/grades_home.html' %}{% block title %}Grade Status{% endblock title %} {% load static %} {% block sub %}

<div class="container">
    <div class="row">
        <strong>Status of the generated grades can be seen here.</strong>
        <br>
        <strong>Clicking on table headers allows you to sort the table rows in ascending/descending order</strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" name="">Submit</button>
        </form>
    </div>
    {% if grades %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td style="border: 1px solid black;">RegNo</td>
                    <td style="border: 1px solid black;">Marks</td>
                    <td style="border: 1px solid black;">Grade</td>
                    <td style="border: 1px solid black;">AttGrade</td>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td style="border: 1px solid black;">{{grade.RegNo}}</td>
                    <td style="border: 1px solid black;">{{grade.Marks}}</td>
                    <td style="border: 1px solid black;">{{grade.Grade}}</td>
                    <td style="border: 1px solid black;">{{grade.AttGrade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}