{% extends 'MTsuperintendent/grades_home.html' %} {% load static %}{% block title %}Grades Threshold{% endblock title %} {% block sub %}
<div class="container">
    <div class="row">
        <strong>Grades threshold Status for the selected course can be viewed here </strong>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" name="">Submit</button>
        </form>
    </div>
    {% if thresholds %}
    <br>
    <div class="row">
        <table class="table">
            <tr>
                <th>SubCode</th>
                <td>{{thresholds.0.Subject.SubCode}}</td>
            </tr>
            <tr>
                <th>SubName</th>
                <td>{{thresholds.0.Subject.SubName}}</td>
            </tr>
        </table>
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black;">Grade</td>
                    <td style="border: 1px solid black;">Threshold Mark</td>
                    <td style="border: 1px solid black;">Exam_Mode</td>
                </tr>
            </thead>
            <tbody>
                {% for thr in thresholds %}
                <tr>
                    <td style="border: 1px solid black;">{{thr.Grade.Grade}}</td>
                    <td style="border: 1px solid black;">{{thr.Threshold_Mark}}</td>
                    <td style="border: 1px solid black;">{{thr.Exam_Mode}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %} {% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.table').DataTable({
            "lengthMenu": [
                [10, 25, 50, 100, 250, -1],
                [10, 25, 50, 100, 250, "All"]
            ],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function() {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function() {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}