{% extends 'superintendent/grades_home.html' %}{% block title %}Grades Threshold{% endblock title %} {% load static %} {% block sub %}
<div class="container">
    <div class="row">
        <table>
            <tr>
                <th>SubCode</th>
                <td>{{ subject.Subject.SubCode }}</td>
            </tr>
            <tr>
                <th>SubName</th>
                <td>{{ subject.Subject.SubName }}</td>
            </tr>
            <tr>
                <th>Offered RegEvent</th>
                <td>{{ subject.Subject.RegEventId }}</td>
            </tr>
            <tr>
                <th>Current RegEvent</th>
                <td>{{ subject.RegEventId }}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data" id="threshold-form">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" name="submit-form" value="submit">Submit</button>
            </form>
        </div>
        <div class="col">
            <div class="row">
                <p>Mean: {{mean}}</p>
            </div>
            <div class="row">
                <p>Standard Deviation: {{stdev}}</p>
            </div>
            <div class="row">
                <p>Maximum Marks: {{max}}</p>
            </div>
            <canvas id="histogram" ></canvas>
        </div>
    </div>
    {% if msg %}
    <div class="row">
        <strong>{{ msg }}</strong>
    </div>
    {% endif %}
</div>
<script>
</script>
{% endblock %}
{% block script_links %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script>
    {% if students %}
    const ctx = document.getElementById('histogram').getContext('2d');
    var data = JSON.parse("{{students|escapejs}}");
    const chart_labels = [];
    const n_students = [];
    for (var key in data){
        chart_labels.push(key)
        n_students.push(data[key])
    }
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
                labels: chart_labels,
                datasets: [{
                label: 'Number of Students',
                data: n_students,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.5
            }]
        },
    });
    {% endif %}
    function submitForm(){
        let flag = 1;
        document.querySelectorAll('.threshold').forEach(item => {
            if (item.value == ''){
                flag = 0;
            }
        });
        if (flag == 1){
            document.getElementById('threshold-form').submit();
        }
    }
    document.querySelectorAll('.threshold').forEach(function(item) {
        item.addEventListener('change', submitForm)
    });
</script>
{% endblock script_links %}
