{% extends 'SupExamDBRegistrations/subjecthome.html' %}

{% load static %}

{% block sub %}
 



<div class="container">
    <div class="row">
        <strong>Choose the event to get the details of the subjects uploaded so far,corresponding to the particular event</strong>
        <form action="" method="post" >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" value="submit">Status</button> 
        </form>
    </div>
    <div class = "row">
        <table>
            <th>
                <tr>
                    <td style="border: 1px solid black;">SubCode </td>
                    <td style="border: 1px solid black;">SubName</td>
                    <td style="border: 1px solid black;">Creditable</td>
                    <td style="border: 1px solid black;">Credits</td>
                    <!-- <td style="border: 1px solid black;">Regulation</td> -->
                    <td style="border: 1px solid black;">Type</td>
                    <td style="border: 1px solid black;">Category</td>
                </tr>
            </th>
            {% for sub  in subjects %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ sub.SubCode }}
                </td>
                <td style="border: 1px solid black;">
                    {{ sub.SubName }}
                </td>
                <td style="border: 1px solid black;">
                    {{ sub.Creditable }}
                </td>
                <td style="border: 1px solid black;">
                    {{ sub.Credits }}
                </td>
                <!-- <td style="border: 1px solid black;">
                    {{ sub.Regulation}}
                </td> -->
                <td style="border: 1px solid black;">
                    {{ sub.Type }}
                </td>
                <td style="border: 1px solid black;">
                    {{ sub.Category }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
