{% extends 'SupExamDBRegistrations/subjecthome.html' %}

{% block sub %}
 



<div class="container">
    <div class="row">
        <h1> Your data upload for Faculty Information has the following errors</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="container">
                    <table>
                        <th>
                            <tr>
                                <td style="border: 1px solid black;">SubCode </td>
                                <td style="border: 1px solid black;">SubName</td>
                                <td style="border: 1px solid black;">BYear</td>
                                <td style="border: 1px solid black;">BSem</td>
                                <td style="border: 1px solid black;">Dept</td>
                                <td style="border: 1px solid black;">OfferedYear</td>
                                <td style="border: 1px solid black;">Regulation</td>
                                <td style="border: 1px solid black;">Creditable</td>
                                <td style="border: 1px solid black;">Credits</td>
                                <td style="border: 1px solid black;">Type</td>
                                <td style="border: 1px solid black;">Category</td>
                                <td style="border: 1px solid black;">Do you want to update(Y/N)</td>
                            </tr>
                        </th>
                        {% for field  in form.myFields %}
                            <tr>
                                <td style="border: 1px solid black;">
                                    {{ field.0 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.1 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.2 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.3 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.4 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.5 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.6 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.7 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.8 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.9 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.10 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.11 }}
                                </td>
                                <td style="border: 1px solid black;">
                                    {{ field.12 }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input type = 'submit' value='Submit'>
                </div>
            </form>
            {% comment %} <div class="col-sm-2">
              <b>Dept</b> <br>
              <select id="rollnos">
                  <option disabled selected="true">-- select Dept --</option>
                  {% for rec in programmeList %}
                      <option value={{rec.Dept}}>{{rec.Specialization}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-sm-2">
              <b>Year</b> <br>
              <select id="Year">
                  <option disabled selected="true">-- select year --</option>
                  {% for rec in yearList %}
                      <option value={{rec}}>{{rec}}</option>
                  {% endfor %}
              </select>
              <div class="col-sm-2">
              <b>Get details</b> <br>
              <center>
                    <a class="btn btn-primary" href="{% url 'DeptYearRegistrationStatus' %}" role="button" id="printing-form-ref">Go</a>
                </center>
            </div> {% endcomment %}

            {% comment %} </div> {% endcomment %}
        </div>
      
    <!-- <p id="CGPA">

    </p> -->
    
</div>
{% endblock %}
