{% extends 'BTsuperintendent/registrationhome.html' %}

{% block sub %}

<div class="container">
    <table class="table"  id="grades" width="85%"" cellpadding=5 style="border-collapse: collapse; border: 1 px solid black;" width=>
      <thead>
        <tr>
          <th scope="col" class="col-sm-1" style="border: 1px solid black; text-align: center;"><b>RegNo</b></th>
          <th scope="col" class="col-sm-1" style="text-align: left; border: 1px solid black;"><b>RollNo</b></th>
          <th scope="col" class="col-sm-2" style="text-align: left; border: 1px solid black;"><b>Name</b></th>
          <th scope="col" class="col-sm-4" style="text-align: center; border: 1px solid black;"><b>MakeupSubjects</b></th>
          <th scope="col" class="col-sm-4" style="text-align: center; border: 1px solid black;"><b>RegisteredSubjects</b></th>
        </tr>
      </thead>
      <tbody id="grades-table-body">
        {% for studentMakeupRec in studentMakeupBacklogsVsRegistrations %}
        <tr>
            <td> {{studentMakeupRec.RegNo}}</td>
            <td> {{studentMakeupRec.RollNo}}</td>
            <td> {{studentMakeupRec.Name}}</td>
            <td>{{studentMakeupRec.MakeupSubjects}}</td>
            <td>{{studentMakeupRec.RegisteredSubjects}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


{% endblock %}
