{% extends 'BTsuperindent/grades_home.html' %}

{% block sub %}
 



<div class="container">
    <div class="row">
      <strong>Upload the grades file for the corresponding event in .xlsx format
        <br>
                Note:Make sure that the order of the fields in the file being uploaded is same as mentioned below:
                <br>
                (RegNo,SubCode,Grade,AYear,ASem,OfferedYear,Dept,AttGrade)
                </strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Upload</button> 
        </form>
       </div>
</div>
{% endblock %}
