{% extends 'SupExamDBRegistrations/grades_home.html' %} {% block sub %}




<div class="container">
    {% if not errorGrades|length and not errorGradeChallenge|length and not errorSameGrades|length %}
    <div class="row">
        <strong>Your data upload for garde challenge has been successfully completed</strong>
    </div>
    {% endif %}

    {% if errorSameGrades|length %}
    <div class="row">
        <strong> The following rows of grades challenge have same previous and updated grades.</strong>
            <div class="container">
                <table>
                    <th>
                        <tr>
                            <td style="border: 1px solid black;">RegNo </td>
                            <td style="border: 1px solid black;">SubCode</td>
                            <td style="border: 1px solid black;">Grade</td>
                            <td style="border: 1px solid black;">AYear</td>
                            <td style="border: 1px solid black;">ASem</td>
                            <td style="border: 1px solid black;">OfferedYear</td>
                            <td style="border: 1px solid black;">Dept</td>
                            <td style="border: 1px solid rgb(0, 0, 0);">AttGrade</td>
                            <td style="border: 1px solid black;">UpdatedGrade</td>
                        </tr>
                    </th>
                    {% for grade in errorSameGrades %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ grade.0 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.1 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.2 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.3 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.4 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.5 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.6 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.7 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.8 }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
    </div>
    {% endif %}


    {% if errorGrades|length %}
    <div class="row">
        <strong> The following rows of grades challenge does not have a valid row in grade staging table.</strong>
            {% csrf_token %}
            <div class="container">
                <table>
                    <th>
                        <tr>
                            <td style="border: 1px solid black;">RegNo </td>
                            <td style="border: 1px solid black;">SubCode</td>
                            <td style="border: 1px solid black;">Grade</td>
                            <td style="border: 1px solid black;">AYear</td>
                            <td style="border: 1px solid black;">ASem</td>
                            <td style="border: 1px solid black;">OfferedYear</td>
                            <td style="border: 1px solid black;">Dept</td>
                            <td style="border: 1px solid rgb(0, 0, 0);">AttGrade</td>
                            <td style="border: 1px solid black;">UpdatedGrade</td>
                        </tr>
                    </th>
                    {% for grade in errorGrades %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ grade.0 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.1 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.2 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.3 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.4 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.5 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.6 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.7 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.8 }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
    </div>
    {% endif %}

    {% if errorGradeChallenge|length %}
    <div class="row">
        <strong> Your data upload for grade challenge contains the rows that are already present in Grade Challenge table</strong>
            {% csrf_token %}
            <div class="container">
                <table>
                    <th>
                        <tr>
                            <td style="border: 1px solid black;">RegNo </td>
                            <td style="border: 1px solid black;">SubCode</td>
                            <td style="border: 1px solid black;">Grade</td>
                            <td style="border: 1px solid black;">AYear</td>
                            <td style="border: 1px solid black;">ASem</td>
                            <td style="border: 1px solid black;">OfferedYear</td>
                            <td style="border: 1px solid black;">Dept</td>
                            <td style="border: 1px solid rgb(0, 0, 0);">AttGrade</td>
                            <td style="border: 1px solid black;">UpdatedGrade</td>
                        </tr>
                    </th>
                    {% for grade in errorGradeChallenge %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ grade.0 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.1 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.2 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.3 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.4 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.5 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.6 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.7 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ grade.8 }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
    </div>
    {% endif %}
    <button type="button"><a href="{% url 'SupBTRegistrationHome' %}" style="text-decoration: None;color:rgb(0, 0, 0)">Back to Home</a></button>
</div>
{% endblock %}