{% extends 'SupExamDB/suphome.html' %}


{% block content %}
{% load user_check_tag %}
<div class="container">
    <div class="row">
        <div class="col-md-2">

            <ul class="nav flex-column">
                {% if user|has_group:'Superintendent' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'GradePointsUpload' %}">Upload Grade Points</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'GradesUpload' %}">Upload Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'co_ordinator:GradeChallengeUpdate' %}">Grade Challenge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'co_ordinator:GradeChallengeStatus' %}">Grade Challenge Status</a>
                </li>
                {% elif user|has_group:'HOD' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'GradesFinalize' %}">Finalize Grades</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:GradesThreshold' %}">Grades Threshold</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:GradesThresholdStatus' %}">Grades Threshold Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:AttendanceShoratgeUpload' %}">Upload Attendance Shortage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:AttendanceShoratgeStatus %}">Attendance Shortage Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:GradesGenerate' %}">Generate Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:GradesStatus' %}">Grades Status</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock content %}