{% extends 'SupExamDBRegistrations/not_promoted_home.html' %}

{% block sub %}
 



<div class="container">
    <div class="row">
      <strong>
        On selecting the appropriate event, it generates the list of all the students.Download option is available at the bottom.On Download an Excel file will be generated.

      </strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Generate</button>
          <button type="submit" name="download" value="download">Download</button>
        </form>
       </div>
</div>
<div class="container">
  <div class="row">
    <table>
      <th>
          <tr>
              <td style="border: 1px solid black;">RegNo </td>
              <td style="border: 1px solid black;">AYear</td>
              <td style="border: 1px solid black;">BYear</td>
              <td style="border: 1px solid black;">Regulation</td>
              <td style="border: 1px solid black;">PoA</td>
          </tr>
      </th>
      {% for np  in notPromoted %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ np.student.RegNo }}
                </td>
                <td style="border: 1px solid black;">
                    {{ np.AYear }}
                </td>
                <td style="border: 1px solid black;">
                    {{ np.BYear }}
                </td>
                <td style="border: 1px solid black;">
                  {{ np.Regulation }}
              </td>
                <td style="border: 1px solid black;">
                    {{ np.PoA }}
                </td>
            </tr>
            {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
