{% extends 'SupExamDB/suphome.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTSeatCancellation' %}">Seat Cancellation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTSemesterCancellation' %}">Semester Cancellation</a>
                  </li>
              </ul>
        </div>
        <div class="col-md-10">
            {% block sub %}
            {% endblock %}
        </div>
       </div>
{% endblock %}