{% extends 'SupExamDBRegistrations/preRegistrations_home.html' %}

{% block sub %}

<div class="container">
    {% if not errorStudentInfoSection|length %}
    <div class="row">
        <strong> Your data upload for Student Info section update has been done successfully </strong>
    </div>
    {% else %}
    <div class="row">
        <strong> The following RegNo for Student Info update are not present in Student Info table.</strong>
        <table>
            <th>
                <tr>
                <td style="border: 1px solid black;">RegNo</td>
                <td style="border: 1px solid black;">RollNo</td>
                <td style="border: 1px solid black;">Name</td>
                <td style="border: 1px solid black;">Non First yr Section</td>
                </tr>
            </th>
            {% for row in errorStudentInfoSection %}
            <tr>
                <td style="border: 1px solid black;">{{ row.0 }}</td>
                <td style="border: 1px solid black;">{{ row.1 }}</td>
                <td style="border: 1px solid black;">{{ row.2 }}</td>
                <td style="border: 1px solid black;">{{ row.3 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}