{% extends 'SupExamDBRegistrations/branchChange_home.html' %}

{% load static %}

{% block sub %}
<div class="container">
    <div class="row">
<strong>
    **It must be done only BEFORE FINALIZING the registrations of the II B.Tech Regular Registrations**
<br>
Note that current department refers to the department of the student but not the cycle which he studied in.

</strong>

        <form action="" method="post" >
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    {{ form.as_p }}
                </div>
            </div>
            <input type = 'submit' name="Submit" value='Submit'>
        </form>
    </div>
</div>


{% endblock %}