{% extends 'SupExamDBRegistrations/userassignment_home.html' %} {% block sub %}

<div class="container">
    <div class="row">
        <strong>Select the Department to assign HOD and their user email id's respectively.  </strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" name='submit-form' value="submit">Submit</button>
        </form>
    </div>
    {%if msg %}
    <div class="row">
        <strong>
            {{msg}}
        </strong>
    </div>
    {%endif%}
</div>
{% endblock %}