{% extends 'MTsuperintendent/preRegistrations_home.html' %}{% block title %}Add Regulationn{% endblock title %} {% load static %} {% block sub %}

<div class="container">
    <div class="row">
        <strong>
            Add the regulation for every academic year and MTech. year.
            <br>
            Admission year is used to distinguish batches with different regulation.
        </strong>
        <ul>
            <li><strong>AdmYear-Admission Year</strong></li>
            <li><strong>AYear-Academic Year</strong></li>
            <li><strong>ASem-Academic Semester</strong></li>
            <li><strong>MYear-M.Tech Year</strong></li>
            <li><strong>MSem-M.Tech Semester</strong></li>
        </ul>
        <strong>
            Note:
            In case of regular/makeup registrations, regulation should be added to all the I,II M.Tech Events
        </strong>

        <br>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Add Regulation</button>
        </form>
    </div>
    {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>


{% endblock %}