{% extends 'MTsuperintendent/preRegistrations_home.html' %}{% block title %}Manage Registrations{% endblock title %} {% block sub %}
{% with url_name=request.resolver_match.url_name %}

<div class="container">
    <div class="row">
        {% if url_name == 'MTUpdateManageRegistrations' %}
        <strong>Enable/Disable(Activate/Deactivate) the events based on the requirement </strong>
        {% elif url_name == 'MTCreateRegistrationEvent' %}
        <strong>Create Registration event for all departments at once of a particular BTech year and academic year </strong>
        {% endif %}
    </div>
    {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
    <div class="row">
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Update Status</button>
        </form>
    </div>
</div>
{% endwith %}

<script>
    var dropdown = document.getElementById('id_aSem');
    dropdown.addEventListener('change', function() {
        var val = dropdown.value;
        if (val == 3) {
            document.getElementById('id_mode_0').disabled = true;
            document.getElementById('id_mode_1').disabled = true;
            document.getElementById('id_mode_2').disabled = false;
            document.getElementById('id_mode_2').checked = true;
        } else {
            document.getElementById('id_mode_0').disabled = false;
            document.getElementById('id_mode_1').disabled = false;
            document.getElementById('id_mode_2').disabled = true;
            document.getElementById('id_mode_2').checked = false;

        }
    });
</script>
{% endblock %}