{% extends 'MTsuperintendent/registrationcancellation.html' %} {% block title %}Seat Cancellations{% endblock title %}{% load static %} {% block sub %}
<div class="container">
    <div class="row">
        <strong>
            Use this to permanantly cancel a student's seat at the institute.
        </strong>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    {{ form.as_p}}
                </div>
            </div>
            <input type='submit' name="Submit" value='Submit'>
            <!-- {% if RollNo %}
          <p> This is the Student Cancellation page for {{RollNo}} : {{Name}} </p> </div>
        {% endif %} -->
            {% if RegNo %}
            <p> Student Cancellation for {{RegNo}} : {{Name}} has done succesfully </p>
    </div>
    {% endif %}
    </form>

</div>

{% endblock %}