{% extends 'MTsuperintendent/suphome.html' %}{% block title %} Pre-Registrations Home{% endblock title %}{% block content %} {% load user_check_tag %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                {% if user|MThas_group:"Superintendent" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTAddRegulation' %}">Add Regulation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTCreateRegistrationEvent' %}">Create Registration Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTUpdateManageRegistrations' %}">Update Registration Event</a>
                </li>
                {% elif user|MThas_group:"ExamStaff" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTStudentInfoFileUpload' %}">Upload Student Info</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %} {% endblock %}
        </div>
    </div>
</div>
{% endblock content %}