{% extends 'MTsuperintendent/suphome.html' %}{% block title %}Registration Status{% endblock title %}Registration Home{% block content %}
{% load user_check_tag %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
              {% if user|has_group:"Co-ordinator" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTSupBTRegistrations' %}">Regular Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTDepartmentElectiveRegistrationsAll' %}">DEC Register all</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTDepartmentElectiveRegistrationsUpload' %}">DEC Registrations File Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTMakeupRegistrations' %}">Makeup Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTSupBTBacklogRegistrations' %}">Backlog Registrations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTNotRegisteredRegistrations' %}">Not Registered Registrations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTSupBTRegistrationsFinalize' %}">Finalize Registrations</a>
                </li>
                {% elif user|has_group:"Superintendent" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MTOpenElectiveRegistrations' %}">Open Elective Registrations</a>
                  </li>
                  {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}