{% extends 'BTsuperintendent/faculty_home.html' %}
{% block title %}Courses{% endblock title %}

{% load static %}

{% block sub %}
<div class="container">
    <div class="row">
      <strong>Assigned Courses can be viewed here.</strong>
        <table class="table table-hover table-muted table-striped">
            <thead>
              <tr>
                <td style="border: 1px solid black;">SubCode</td>
                <td style="border: 1px solid black;">SubName</td>
                <td style="border: 1px solid black;">Creditable</td>
                <td style="border: 1px solid black;">Credits</td>
                <td style="border: 1px solid black;">Type</td>
                <td style="border: 1px solid black;">Category</td>
                <td style="border: 1px solid black;">OfferedTo</td>
                <td style="border: 1px solid black;">Reg Event</td>
                <td style="border: 1px solid black;">Section</td>
              </tr>
            </thead>
            {% for sub in subjects %}
            <tr>
              <td style="border: 1px solid black;">{{sub.Subject.course.SubCode}}</td>
              <td style="border: 1px solid black;">{{sub.Subject.course.SubName}}</td>
              <td style="border: 1px solid black;">{{sub.Subject.course.CourseStructure.Creditable}}</td>
              <td style="border: 1px solid black;">{{sub.Subject.course.CourseStructure.Credits}}</td>
              <td style="border: 1px solid black;">{{sub.Subject.course.CourseStructure.Type}}</td>
              <td style="border: 1px solid black;">{{sub.Subject.course.CourseStructure.Category}}</td>
              <td style="border: 1px solid black;">{{sub.Subject.course.RegEventId.Dept}}</td>
              <td style="border: 1px solid black;">{{sub.RegEventId}}</td>
              <td style="border: 1px solid black;">{{sub.Section}}</td>
            </tr>
            {% endfor %}
          </table>
    </div>
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}