{% extends 'SupExamDBRegistrations/userassignment_home.html' %} {% block sub %}

<div class="container">
    <div class="row">
        <strong>
            User assignment for faculty can be done here.
        </strong>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">id</td>
                    <td style="border: 1px solid black;">FacultyId</td>
                    <td style="border: 1px solid black;">Name</td>
                    <td style="border: 1px solid black;">Phone</td>
                    <td style="border: 1px solid black;">Email</td>
                    <td style="border: 1px solid black;">User</td>
                    <td style="border: 1px solid black;">Assign</td>
                    <td style="border: 1px solid black;">Revoke Y/N</td>


                </tr>
            </thead>
            {% for fac in faculty %}
            <tr data-row-href="{% url 'FacultyUserDetail' fac.id %}">
                <td style="border: 1px solid black;">{{fac.id}}</td>
                <td style="border: 1px solid black;">{{fac.FacultyId}}</td>
                <td style="border: 1px solid black;">{{fac.Name}}</td>
                <td style="border: 1px solid black;">{{fac.Phone}}</td>
                <td style="border: 1px solid black;">{{fac.Email}}</td>
                <td style="border: 1px solid black;">{{fac.User.username}}</td>
                <td style="border: 1px solid black;">
                    <a href="{% url 'FacultyUserDetail' fac.id %}"><button>Assign</button></a>
                </td>
                <td style="border: 1px solid black;"> 
                    <a href="{% url 'FacultyUserRevoke' fac.id %}" onclick="return confirm('Are you sure you want to revoke user for {}?'.format({{fac.Name}}))">
                        <button onclick="return confirm('Are you sure you want to revoke user for {}?'.format({{fac.Name}}))">Revoke</button>
                    </a>
                </td>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}