{% extends 'SupExamDBRegistrations/faculty_home.html' %} {% block sub %}

<div class="container">
    <div class="row">


    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">id</td>
                    <td style="border: 1px solid black;">FacultyId</td>
                    <td style="border: 1px solid black;">Name</td>
                    <td style="border: 1px solid black;">Phone</td>
                    <td style="border: 1px solid black;">Email</td>
                    <td style="border: 1px solid black;">Assign</td>
                    <td style="border: 1px solid black;">Revoke Y/N</td>


                </tr>
            </thead>
            {% for fac in faculty %}
            <tr data-row-href="{% url 'FacultyUserDetail' fac.id %}">
                <td style="border: 1px solid black;">{{fac.id}}</td>
                <td style="border: 1px solid black;">{{fac.FacultyId}}</td>
                <td style="border: 1px solid black;">{{fac.Name}}</td>
                <td style="border: 1px solid black;">{{fac.Phone}}</td>
                <td style="border: 1px solid black;">{{fac.Email}}</td>
                <td style="border: 1px solid black;">
                    <a href="{% url 'FacultyUserDetail' fac.id %}">Assign</a>
                </td>
                <td style="border: 1px solid black;"> <a href="{% url 'FacultyUserRevoke' fac.id %}">Revoke</a></td>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}