{% extends 'SupExamDBRegistrations/grades_home.html' %}

{% load static %}

{% block sub %}
 



<div class="container">
    <div class="row">
      <strong>NOTE:
        **Finalize the grades only after uploading all the  grades corresponding to that particular event and also make sure that the grade challenge procedure is done for the selected event**
        <br>
        **Grades once finalized cannot be modified for that particular event**
        </strong>
        <form action="" method="post" >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" value="submit">Finalize</button> 
        </form>
    </div>
    {% if msg %}
    <br>
    <div class="row">
      <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}
