{% extends 'SupExamDBRegistrations/grades_home.html' %} {% block sub %}


<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
    {% if msg %}
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
    {% if error %}
    <div class="row">
        <strong>These Reg No are invalid.</strong>
        <br>
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">RegNo</td>
                </tr>
            </thead>
            <tbody>
                {% for row in error %}
                <tr><td style="border: 1px solid black;">{{row}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}