{% extends 'SupExamDBRegistrations/Status/registrationstatus.html' %} {% block sub %}


<div class="container">
    <div class="row">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Generate</button>
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
        <strong> List of Attendance Shortade Students</strong>
        <form action="?" method="post">
            {% csrf_token %}
            <div class="container">
                <table>
                    <th>
                        <tr>
                            <td style="border: 1px solid black;">RegNo </td>
                            <td style="border: 1px solid black;">RollNo</td>
                            <td style="border: 1px solid black;">Name</td>
                            <td style="border: 1px solid black;">Regulation</td>
                            <td style="border: 1px solid black;">Dept</td>
                            <td style="border: 1px solid black;">Subject</td>

                            <td style="border: 1px solid black;">Delete</td>
                        </tr>
                    </th>
                    {% for field in att_short %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ field.Student.RegNo }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.Student.RollNo }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.Student.Name }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.Student.Regulation }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.Student.Dept }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.Subject.SubCode }}
                        </td>

                        <td style="border: 1px solid black;">

                            <a href="{% url 'AttendanceShoratgeDelete' field.id %}">Assign</a>

                        </td>


                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}