{% extends 'SupExamDBRegistrations/Status/registrationstatus.html' %} {% block sub %}


<div class="container">
    <div class="row">
 <strong>Choose the subject corresponding to required registration event to view the list of attendance shortage students.</strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Generate</button>
        </form>
    </div>
    {% if att_short %}
    <strong> List of Attendance Shortade Students</strong>
    <div class="row">
        <br>
        <table>
            <th>
                <tr>
                    <td style="border: 1px solid black;">RegNo </td>
                    <td style="border: 1px solid black;">Delete</td>
                </tr>
            </th>
            {% for field in att_short %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ field.Registration.RegNo }}
                </td>
                <td style="border: 1px solid black;">
                    <a href="{% url 'AttendanceShoratgeDelete' field.id %}">Assign</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}