{% extends 'superintendent/grades_home.html' %}
{% block title %}Generate Grades{% endblock title %}

{% load static %}

{% block sub %}

<div class="container">
    <div class="row">
        <strong>
            Grades can be generated after assignment of marks threshoold.
            <br>
            Threshold assignment can be done by the course co-ordinator.
        </strong>
    </div>
    <div class="row">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="">Submit</button> 
          </form>
    </div>
    {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}