{% extends 'SupExamDBRegistrations/grades_home.html' %}

{% load static %}

{% block sub %}
<div class="container">
    <div class="row">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="">Submit</button> 
          </form>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">SubCode</td>
                    <td style="border: 1px solid black;">SubName</td>
                    <td style="border: 1px solid black;">Uniform Grading</td>
                    <td style="border: 1px solid black;">Section</td>
                    <td style="border: 1px solid black;">Grade</td>
                    <td style="border: 1px solid black;">Threshold Mark</td>
                </tr>
            </thead>
            <tbody>
                {% for thr in thresholds %}
                <tr>
                    <td style="border: 1px solid black;">thr.Subject.SubCode</td>
                    <td style="border: 1px solid black;">thr.Subject.SubName</td>
                    <td style="border: 1px solid black;">thr.uniform_grading</td>
                    <td style="border: 1px solid black;">thr.Section</td>
                    <td style="border: 1px solid black;">thr.Grade.Grade</td>
                    <td style="border: 1px solid black;">thr.Threshold_Mark</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
