{% extends 'superintendent/grades_home.html' %}
{% block title %}Grades Threshold{% endblock title %}

{% load static %}

{% block sub %}
<div class="container">
    <div class="row">
        <table>
            <tr>
                <th>SubCode</th>
                <td>{{ subject.Subject.SubCode }}</td>
            </tr>
            <tr>
                <th>SubName</th>
                <td>{{ subject.Subject.SubName }}</td>
            </tr>
            <tr>
                <th>Offered RegEvent</th>
                <td>{{ subject.Subject.RegEventId }}</td>
            </tr>
            <tr>
                <th>Current RegEvent</th>
                <td>{{ subject.RegEventId }}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="submit-form" value="submit">Submit</button>
        </form>
    </div>
    {% if msg %}
    <div class="row">
        <strong>{{ msg }}</strong>
    </div>
    {% endif %}
</div>
<script>
    
</script>
{% endblock %}