{% extends 'superintendent/marks_home.html' %}
{% block title %}Finalize Marks{% endblock title %}

{% load static %}

{% block sub %}

<div class="container">
    <div class="row">

        <strong>**Marks once finalized can not be modified** <br>
            Choose the subject corresponding to the required event to finalize the uploaded marks.</strong>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="">Submit</button> 
          </form>
    </div>
    {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}