{% extends 'SupExamDBRegistrations/marks_home.html' %}

{% load static %}

{% block sub %}

<div class="container">
    <div class="row">
        <table>
            <tr>
                <th>RegNo</th>
                <td>mark.Registration.RegNo</td>
            </tr>
            <tr>
                <th>Previous marks</th>
                <td>mark.Marks</td>
            </tr>
            <tr>
                <th>Total Marks</th>
                <td>mark.TotalMarks</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="">Submit</button> 
          </form>
    </div>
    {% if msg %}
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}