{% extends 'superintendent/marks_home.html' %}
{% block title %}Marks Status{% endblock title %}

{% load static %}

{% block sub %}
{% load user_check_tag %}

<div class="container">
    <div class="row">

        <strong>Choose the subject corresponding to the required event to view the uploaded marks.  <br>
        Update option is available to update marks(If Required).</strong>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="">Submit</button> 
          </form>
    </div>
    {% if marks %}
    <div class="row">
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">RegNo</td>
                    <td style="border: 1px solid black;">Marks</td>
                    <td style="border: 1px solid black;">Total</td>
                    {% if user|has_group:'Faculty' %}
                    <td style="border: 1px solid black;">Action</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for mark in marks %}
                <tr>
                    <td style="border: 1px solid black;">{{mark.Registration.RegNo}}</td>
                    <td style="border: 1px solid black;">{{mark.Marks}}</td>
                    <td style="border: 1px solid black;">{{mark.TotalMarks}}</td>
                    {% if user|has_group:'Faculty' %}
                    <td style="border: 1px solid black;">
                        <a href="{% url 'MarksUpdate' mark.id %}" class="btn btn-primary">Update</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}