{% extends 'BTsuperintendent/registrationstatus.html' %}
{% block title %}Makeup Registration Status{% endblock title %}

{% block sub %}

<div class="container">
    <div class="row">
        <strong>
 
            Registrations done for the particular event can be viewed here.
     
            </strong>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="row"> <strong> {{heading}}  </strong></div>
            <div class = "row">
                <table class="table table-hover table-muted table-striped">
                    <thead>
                        <tr>
                            <td style="border: 1px solid black;">RegNo</td>
                            <td style="border: 1px solid black;">RollNo</td>
                            <td style="border: 1px solid black;">Name</td>
                            <td style="border: 1px solid black;">BYear</td>
                            <!-- <td style="border: 1px solid black;">BSem</td> -->
                            <td style="border: 1px solid black;">Registered Subjects</td>
                    </thead>
                    {% for registration  in studentRegistrations %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ registration.RegNo }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ registration.RollNo }}
                        </td>
                        <td style="border: 1px solid black;">
                          {{ registration.Name }}
                      </td>
                      <td style="border: 1px solid black;">
                        {{ registration.BYear }}
                    </td>
                    <!-- <td style="border: 1px solid black;">
                      {{ registration.BSem }}
                    </td> -->
                    <td style="border: 1px solid black;">
                    {{ registration.RegisteredSubjects }}
                    </td>
                </tr>
                    {% endfor %}
            </div>
            <div class="row">
                <button type="submit">Status</button> 
            </div>
        </form>
    </div>
    
</div>

{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}