{% extends 'BTsuperindent/registrationhome.html' %}
{% block title %}Regular Registrations{% endblock title %}

{% block sub %}
<div class="container">
    <div class="row">
      <strong>Register the students corresponding to the selected event
        <br>
                **All the eligible students will be registered**
                <br>Make sure that all the subjects(including OEC,DEC) are uploaded.
                <br>Note:Please note that the registrations can be done any number of times before finalizing them.
                <br> Registrations will be added/removed based on the additions/deltions in the roll list.
                </strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button> 
        </form>
      </div>
      {% if msg %}
      <div class="row">
        <strong>{{msg}}</strong>
      </div>
      {% endif %}
</div>
{% endblock %}
