{% extends 'BTsuperintendent/subjecthome.html' %}
{% block title %}Add Subjects{% endblock title %}
{% block sub %}
<div class="container">
  {% if form.fields.name.initial == 'SubjectsUploadForm' %}
  <div class="row">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Submit" value="upload_file_submit">Upload</button>
    </form>
  </div>
  {% endif %}
  {% if form.fields.name.initial == 'SubjectsSelectForm' %}
  <div class="row">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.name}}
      {{form.event}}
      {% for course_tup in form.courses %}
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <th>Category</th>
              <td>{{course_tup.0.Category}}</td>
              <th>Type</th>
              <td>{{course_tup.0.Type}}</td>
            </td>
          </tr>
          <tr>
            <td>
              <th>Creditable</th>
              <td>{{course_tup.0.Creditable}}</td>
              <th>Credits</th>
              <td>{{course_tup.0.Credits}}</td>
            </td>
          </tr>
          <tr>
            <td>
              <th>Count</th>
              <td>{{course_tup.0.count}}</td>
            </td>
          </tr>
        </tbody>
      </table>
      <strong>Select {{course_tup.0.count}} course(s) from the following.</strong>
        <table class="table table-hover table-muted table-striped">
          <tbody>
            {% for course in course_tup.1 %}
              <tr>
                <td style="border: 1px solid black">{{course.SubCode}}</td>
                <td style="border: 1px solid black">{{course.SubName}}</td>
                <td style="border: 1px solid black">{{course.OfferedBy}}</td>
                <td style="border: 1px solid black">{{course.lectures}}</td>
                <td style="border: 1px solid black">{{course.tutorials}}</td>
                <td style="border: 1px solid black">{{course.practicals}}</td>
                <td style="border: 1px solid black">{{course.DistributionRatio}}</td>
                <td style="border: 1px solid black">{{course.MarkDistribution}}</td>
                <td style="border: 1px solid black">{{course.formField}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      <button type="submit" name="Submit" value="upload_file_submit">Submit</button>
    </form>
  </div>
  {% endif %}
  {% if slackCourses %}
    <strong>These rows have less number of courses to map.</strong>
    {% for course_tup in slackCourses %}
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <th>Category</th>
              <td>{{course_tup.0.Category}}</td>
              <th>Type</th>
              <td>{{course_tup.0.Type}}</td>
            </td>
          </tr>
          <tr>
            <td>
              <th>Creditable</th>
              <td>{{course_tup.0.Creditable}}</td>
              <th>Credits</th>
              <td>{{course_tup.0.Credits}}</td>
            </td>
          </tr>
          <tr>
            <td>
              <th>Count</th>
              <td>{{course_tup.0.count}}</td>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-muted table-striped">
        <tbody>
          {% for course in course_tup.1 %}
            <tr>
              <td style="border: 1px solid black">{{course.SubCode}}</td>
              <td style="border: 1px solid black">{{course.SubName}}</td>
              <td style="border: 1px solid black">{{course.OfferedBy}}</td>
              <td style="border: 1px solid black">{{course.lectures}}</td>
              <td style="border: 1px solid black">{{course.tutorials}}</td>
              <td style="border: 1px solid black">{{course.practicals}}</td>
              <td style="border: 1px solid black">{{course.DistributionRatio}}</td>
              <td style="border: 1px solid black">{{course.MarkDistribution}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% endif %}
</div>
<script>
  function change_checkbox(obj){
    var c_str = JSON.parse("{{excess|escapejs}}");
    console.log(c_str);
    var query_select_string = "input[group="+"\'"+obj.getAttribute('group')+"\'"+"]";
    if (document.querySelectorAll(query_select_string+":checked").length == c_str[obj.getAttribute('group')][0]){
      let elems = document.querySelectorAll(query_select_string+":not(:checked)");
      for (let i=0; i<elems.length; i++){
        elems[i].required = false;
        if (c_str[obj.getAttribute('group')][1] != 'OEC' || c_str[obj.getAttribute('group')][1] != 'OEC'){
          elems[i].disabled = true;
        }
      }
    }
    else if (document.querySelectorAll(query_select_string+":checked").length < c_str[obj.getAttribute('group')][0]){
      let elems = document.querySelectorAll(query_select_string);
      for (let i=0; i<elems.length; i++){
        elems[i].required = true;
        elems[i].disabled = false;
      }
    }
  }
  window.onload = function(){
    var checkboxes = document.querySelectorAll("input[type='checkbox']")
    for (let i=0; i<checkboxes.length; i++){
      checkboxes[i].required = true;
      checkboxes[i].checked = false;
      checkboxes[i].disabled = false;
    }
  }
</script>
{% endblock %}