{% extends 'BTsuperintendent/faculty_home.html' %} 
{% block title %}Faculty Subject Assignment Status{% endblock title %}
{% block sub %}
<div class="container">
    <div class="row">
        <strong>Select the registration event to get the details of assigned faculty , course co-ordinator of all the subjects .</strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black;">SubCode </td>
                    <td style="border: 1px solid black;">SubName </td>
                    <td style="border: 1px solid black;">Course Co-Ordinator Name</td>
                    <td style="border: 1px solid black;">Section  </td>
                    <td style="border: 1px solid black;">Faculty Name</td>
                </tr>
            </thead>
            {% for field in faculty %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ field.Subject.SubCode }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.Subject.SubName }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.Coordinator.Name }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.Section }}
                </td>
                <td style="border: 1px solid black;">
                    {{ field.Faculty.Name }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}