{% extends 'BTsuperintendent/faculty_home.html' %}
{% block title %}Faculty Subject Assignment{% endblock title %}

{% block sub %}
 
<div class="container">
    <div class="row">
       <strong>Faculty for the offered courses should be assigned here.</strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button> 
        </form>
       </div>

    <div class="row">
      <table class="table table-hover table-muted table-striped">
        <thead>
          <tr>
            <td style="border: 1px solid black;">S.No.</td>
            <td style="border: 1px solid black;">SubCode</td>
            <td style="border: 1px solid black;">SubName</td>
            <td style="border: 1px solid black;">Creditable</td>
            <td style="border: 1px solid black;">Credits</td>
            <td style="border: 1px solid black;">Type</td>
            <td style="border: 1px solid black;">Category</td>
            <td style="border: 1px solid black;">OfferedTo</td>
            <td style="border: 1px solid black;"></td>
          </tr>
        </thead>
        {% for sub in subjects %}
        <tr data-row-href="{% url 'BTFacultySubjectAssignmentDetail' sub.id %}">
          <td style="border: 1px solid black;">{{forloop.counter}}</td>
          <td style="border: 1px solid black;">{{sub.course.SubCode}}</td>
          <td style="border: 1px solid black;">{{sub.course.SubName}}</td>
          <td style="border: 1px solid black;">{{sub.course.CourseStructure.Creditable}}</td>
          <td style="border: 1px solid black;">{{sub.course.CourseStructure.Credits}}</td>
          <td style="border: 1px solid black;">{{sub.course.CourseStructure.Type}}</td>
          <td style="border: 1px solid black;">{{sub.course.CourseStructure.Category}}</td>
          {% if sub.course.CourseStructure.Category=="OEC" or sub.course.CourseStructure.Category=="OPC" %}
          <td style="border: 1px solid black;">{{sub.Dept}}</td>
          {% else %}
          <td style="border: 1px solid black;">{{sub.RegEventId.Dept}}</td>
          {% endif %}
          <td style="border: 1px solid black;">
              <a href="{% url 'BTFacultySubjectAssignmentDetail' sub.id %}">Assign</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}