{% extends 'BTsuperintendent/rollList_home.html' %}
{% block title %}Generate RollLists{% endblock title %}

{% block sub %}

<div class="container">
  <div class="row">
    <strong>
      Choose the event for which you want to generate the roll list
      <br>
      Note:Roll list can be generated multiple times which would be helpful when there are branch changes(in case of II B.Tech Roll list)
      and the section upload should be done again <br>
      Everytime you generate the roll list, roll list fee upload should be done. 
      <br>In case of odd semester make sure that NOT PROMOTED procedure is done.
      <br>
      Reminder: <br>
      Before doing the registrations for the particular event,make sure you upload all the required subjects and
      finalize them.

    </strong>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Generate</button>
    </form>
  </div>
  {% if regulation_form %}
  <div class="row">
    <strong> select the not promoted regnos to be included in current rollist</strong>
    <form action="" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="row">
        <table class="table table-hover table-muted table-striped">
          <th>
            <tr>
              <td style="border: 1px solid black;">RegNo </td>
              <td style="border: 1px solid black;">Event Regulation </td>
              <td style="border: 1px solid black;">Student Regulation </td>
              <td style="border: 1px solid black;">Should be Included</td>
            </tr>
          </th>
          {% for field in regulation_form.myFields %}
          <tr>
            <td style="border: 1px solid black;">
              {{ field.0 }}
            </td>
            <td style="border: 1px solid black;">
              {{ field.1 }}
            </td>
            <td style="border: 1px solid black;">
              {{ field.2 }}
            </td>
            <td style="border: 1px solid black;">
              {{ field.3 }}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
        <input type='submit' value='Submit' name='Regulation_change'>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}