{% extends 'BTsuperintendent/not_promoted_home.html' %}
{% block title %}Not Promoted List{% endblock title %}

{% block sub %}
 



<div class="container">
    <div class="row">
      <strong>
        On selecting the appropriate event, it generates the list of all the not promoted students.Download option is available at the bottom.On Download an Excel file will be generated.
        <br>Once the list has been downloaded PoA should be updated and should be uploaded at the upload not promoted list interface.

      </strong>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Generate</button>
          <button type="submit" name="download" value="download">Download</button>
        </form>
       </div>
</div>
<div class="container">
  <div class="row">
    <table class="table table-hover table-muted table-striped">
      <thead>
          <tr>
              <td style="border: 1px solid black;">RegNo </td>
              <td style="border: 1px solid black;">RollNo </td>
              <td style="border: 1px solid black;">Name </td>
              <td style="border: 1px solid black;">Academic Year</td>
              <td style="border: 1px solid black;">BTech Year</td>
              <td style="border: 1px solid black;">Regulation</td>
              <td style="border: 1px solid black;">Plan of Action</td>
          </tr>
      </thead>
      {% for np  in notPromoted %}
            <tr>
                <td style="border: 1px solid black;">
                    {{ np.student.RegNo }}
                </td>
                <td style="border: 1px solid black;">
                  {{ np.student.RollNo }}
                </td>
                <td style="border: 1px solid black;">
                  {{ np.student.Name }}
                </td>
                <td style="border: 1px solid black;">
                    {{ np.AYear }}
                </td>
                <td style="border: 1px solid black;">
                    {{ np.BYear }}
                </td>
                <td style="border: 1px solid black;">
                  {{ np.Regulation }}
              </td>
                <td style="border: 1px solid black;">
                    {{ np.PoA }}
                </td>
            </tr>
            {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}
