{% extends 'BTsuperindent/rollList_home.html' %}

{% block title %}RollLists Section upload{% endblock title %}

{% block sub %}

<div class="container">
    <div class="row">
        <strong>Once the Roll lIst has been generated ,it can be downloaded in the RollList status option. <br>
        Once the roll list is downloaded ,fill up the section entry option and upload the file here for the corresponding registration event.</strong>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
    {% if msg %}
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
    {% endif %}
    {% if errorRows %}
    <div class="row">
        <strong>These rows are not do not have an entry in RollList table</strong>
        <table>
            <thead>
                <tr>
                    <td style="border: 1px solid black;">id </td>
                    <td style="border: 1px solid black;">RegNo </td>
                    <td style="border: 1px solid black;">Cycle </td>
                    <td style="border: 1px solid black;">Section </td>
                </tr>
            </thead>
            <tbody>
                {% for row in errorRows %}
                <tr>
                    <td style="border: 1px solid black;">{{row.0}}</td>
                    <td style="border: 1px solid black;">{{row.1}}</td>
                    <td style="border: 1px solid black;">{{row.8}}</td>
                    <td style="border: 1px solid black;">{{row.9}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}