{% extends 'ADEUGDB/branchChange_home.html' %}
{% block title %}Branch Change{% endblock title %}

{% load static %}

{% block sub %}
<div class="container">
    <div class="row">
<strong>
    **It must be done only BEFORE FINALIZING the registrations of the II B.Tech Regular Registrations**
<br>
Note that current department refers to the department of the student but not the cycle which he studied in.
<br>
(make a note that if a student has studied his first year in 
            2021-2022,Entering 2022 will result the branch changes of his batch because in 2022-2023 the branch change process would be done)

</strong>
        {% if student %}
        <div class="row">
            <table class="table table-hover table-muted table-striped">
                <tbody>
                    <th style="border: 1px solid black;">Name</th>
                    <td style="border: 1px solid black;">{{student.Name}}</td>
                    <th style="border: 1px solid black;">RollNo</th>
                    <td style="border: 1px solid black;">{{student.RollNo}}</td>
                    <th style="border: 1px solid black;">Department</th>
                    <td style="border: 1px solid black;">{{student.Dept}}</td>
                    <th style="border: 1px solid black;">Regulation</th>
                    <td style="border: 1px solid black;">{{student.Regulation}}</td>
                </tbody>
            </table>
        </div>
        {% endif %}
        <form action="" method="post" >
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    {{ form.as_p }}
                </div>
            </div>
            <input type = 'submit' name="Submit" value='Submit'>
        </form>
    </div>
</div>


{% endblock %}