{% extends 'superintendent/registrationhome.html' %} {% block title %}DEC Registrations{% endblock title %}{% load static %} {% block sub %}

<div class="container">
    <div class="row">
        <strong>If the department approves to register all the students for a particular Department Elective course,it can be done here.
            <br>
            Select the event and then select the corresponding subject and register the students.
            </strong> {% if msg %}
        <p>**Please select all fields**</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock %}