{% extends 'ADAUGDB/subjecthome.html' %}
{% block title %}Courses Status{% endblock title %}
{% block sub %}
<div class="container">
    <div class="row">
        <form action="" method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" value="submit">Status</button>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover table-muted table-striped">
            <thead>
                <tr>
                    <td style="border: 1px solid black">CourseCode</td>
                    <td style="border: 1px solid black">CourseName</td>
                    <td style="border: 1px solid black">BTech Year</td>
                    <td style="border: 1px solid black">BTech Sem</td>
                    <td style="border: 1px solid black">Department</td>
                    <td style="border: 1px solid black">OfferedBy</td>
                    <td style="border: 1px solid black">Regulation</td>
                    <td style="border: 1px solid black">Creditable</td>
                    <td style="border: 1px solid black">Credits</td>
                    <td style="border: 1px solid black">Type</td>
                    <td style="border: 1px solid black">Category</td>
                    <td style="border: 1px solid black">lectures</td>
                    <td style="border: 1px solid black">tutorials</td>
                    <td style="border: 1px solid black">practicals</td>
                    <td style="border: 1px solid black">Distribution Ratio</td>
                    <td style="border: 1px solid black">Marks Distribution</td>                    
                </tr>
            </thead>
            <tbody>
                {% for row in courses %}
                    <tr>
                        <td style="border: 1px solid black">{{row.SubCode}}</td>
                        <td style="border: 1px solid black">{{row.SubName}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.BYear}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.BSem}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.Dept}}</td>
                        <td style="border: 1px solid black">{{row.OfferedBy}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.Regulation}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.Creditable}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.Credits}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.Type}}</td>
                        <td style="border: 1px solid black">{{row.CourseStructure.Category}}</td>
                        <td style="border: 1px solid black">{{row.lectures}}</td>
                        <td style="border: 1px solid black">{{row.tutorials}}</td>
                        <td style="border: 1px solid black">{{row.practicals}}</td>
                        <td style="border: 1px solid black">{{row.DistributionRatio}}</td>
                        <td style="border: 1px solid black">{{row.MarkDistribution}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            "info": false,
            "dom": '<"row"<"col-md"l><"col-md"f><"col-md"p>>t',
            "initComplete": function ()  {
                var column = this.api().columns(2);
                $('#floor_select').on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search(val ? '^' + val : '', true, false).draw();
                });
            }
        });
    });
</script>
{% endblock script_links %}