{% extends 'ADAUGDB/grades_home.html' %} 
{% block title %}Held In{% endblock title %}
{% block sub %}
<div class="container">
    <div class="row">
        <strong>Select the month and year of exams of that particular event.  </strong>
    </div>
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" name='submit-form' value="submit">Submit</button>
        </form>
    </div>
    {%if msg %}
    <div class="row">
        <strong>
            {{msg}}
        </strong>
    </div>
    {%endif%}
</div>
{% if month and year %}
<script>
    document.getElementById('id_held_in_month').value = JSON.parse('{{month|escapejs}}');
    document.getElementById('id_held_in_year').value = {{year}};
</script>
{% endif %}
{% endblock %}
