{% extends 'GradesProcessing/gphome1.html' %}

{% load static %}

{% block sub %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div class="container">
    <div class="row">
    <br>
    <div class=container id="grade-sheet">
      
      <br>

    <div class="container">
        <div class="row">
            <right>

            <button type="button" class="btn btn-primary" onclick="submitFunc()">Submit</button>
            </right>
        </div>                                                                                                                                                                                                                                                    
    </div>
    
    
    <!-- <p id="CGPA">

    </p> -->
    </div>
{% endblock %}
