{% extends 'Registrations/index.html' %}

{% comment %} used to call forms {% endcomment %}
{% block sub %}
    <form action="" method="post">
        {% csrf_token %}
        <div> <p> Students who have R grade in a previous offfering of the course should attend in study mode. By default the option that gets selected is Study mode for those cases. You are requested to not change that. </p>
        <p> This is the registration page for {{RollNo}} : {{Name}} </p> </div>
        <div class="container">
            <table class="table table-hover table-muted table-striped">
                <th>
                    <tr>
                        <td style="border: 1px solid black;">SubCode </td>
                        <td style="border: 1px solid black;">SubName</td>
                        <td style="border: 1px solid black;">Credits</td>
                        <td style="border: 1px solid black;">Selection(Y/N)</td>
                        <td style="border: 1px solid black;">Mode(Exam)</td>
                        <td style="border: 1px solid black;">Mode(Study)</td>
                    </tr>
                </th>
                {% for field  in form.myFields %}
                    <tr>
                        <td style="border: 1px solid black;">
                            {{ field.0 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.1 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.2 }}
                        </td>
                        <td style="border: 1px solid black;">
                            {{ field.3 }}
                        </td>
                        {% for choice in field.4 %}
                            {% if choice.tag == "Study Mode" and forloop.first %}
                                <td style="border: 1px solid black;">&nbsp;</td>
                            {% endif %}
                            <td style="border: 1px solid black;">
                                {{choice.choice_label}}
                                <div class='form-check form-check-inline'>{{choice.tag}}</div> 
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input type = 'submit' value='Submit'>
        </div>
    </form>

{% endblock %} 
