{% extends 'superintendent/suphome.html' %} {% block content %}
{% load user_check_tag %}


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                {% if user|has_group:'Superintendent' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTRegularRegistrationStatus' %}">Regular Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTBacklogRegistrationStatus' %}">Backlog Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTMakeupRegistrationStatus' %}">Makeup Registration Status</a>
                </li>
                {% elif user|has_group:'HOD' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTRegularRegistrationStatus' %}">Regular Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTBacklogRegistrationStatus' %}">Backlog Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTMakeupRegistrationStatus' %}">Makeup Registration Status</a>
                </li>
                {% elif user|has_group:'Co-ordinator' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTRegularRegistrationStatus' %}">Regular Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTBacklogRegistrationStatus' %}">Backlog Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTMakeupRegistrationStatus' %}">Makeup Registration Status</a>
                </li>
                {% elif user|has_group:'Cycle-Co-ordinator' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTRegularRegistrationStatus' %}">Regular Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTBacklogRegistrationStatus' %}">Backlog Registration Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'SupBTMakeupRegistrationStatus' %}">Makeup Registration Status</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% block sub %} {% endblock %}
        </div>
    </div>
    {% endblock %}